---
{
	"altLangPrefix": "gc-page-success",
	"breadcrumb": [
		{ "title": "GCWeb accueil", "link": "https://wet-boew.github.io/themes-dist/GCWeb/index-fr.html" }
		{ "title": "Provisional functionality ???", "link": "https://wet-boew.github.io/themes-dist/GCWeb/provisional-en.html" }
	],
	"dateModified": "2021-05-27",
	"description": "Widget de rétroaction pour Canada.ca",
	"language": "fr",
	"title": "Widget succès de page",
	"share": "true"
}
---
{% include alert-provisional.html siteroot="../../" %}
<span class="wb-prettify all-pre hide"></span>

<dl class="horizontal">
	<dt>Status ???</dt>
	<dd>Provisional ???</dd>

	<dt>Type</dt>
	<dd>Canada.ca design pattern ???</dd>

	<dt>Dernière revue</dt>
	<dd>2021-05-27</dd>

	<dt>Est conforme à</dt>
	<dd>Spécifications du contenu et de l'architecture de l'information 2.1 ???</dd>

	<dt>Spécification</dt>
	<dd>???</dd>

	<dt>Nom technique</dt>
	<dd>
		<ul>
			<li><code>gc-page-success</code> ???</li>
		</ul>
	</dd>
</dl>

<h2>Exemples pratiques</h2>
<!--Might need separate example pages... IDs will fail validation if both are within the same page-->

<h3>Type 1 (oui/non)</h3>

<h3>Type 2 (oui/non et détails)</h3>
